.snippet-group {
/*margin-left:-16px;
margin-right:-16px;*/
}

.snippet-group .snippet-header {
display:table;
border-collapse:collapse;
border-spacing:0;
width:100%;
}

.snippet-group .snippet-demos,.snippet-group .snippet-captions {
display:table-row;
}

.snippet-group .snippet-demo .snippet-demo-container {
text-align:left;
display:inline-block;
}

.snippet-group .snippet-captions {
background-color:#fff;
height:48px;
}

.snippet-group .snippet-demo {
display:table-cell;
text-align:center;
vertical-align:middle;
margin:0;
padding:0 40px 40px;
}

.snippet-group .snippet-demo-padding,.snippet-group .snippet-caption,.snippet-group .snippet-caption-padding {
display:table-cell;
vertical-align:middle;
margin:0;
}

.snippet-group .snippet-caption {
font-size:12px;
white-space:nowrap;
text-align:center;
position:relative;
padding:0 40px;
}

.snippet-group .snippet-demos .snippet-demo-padding {
width:50%;
}

_:-ms-input-placeholder,:root .snippet-group .snippet-demo {
width:1px;
}

_:-ms-input-placeholder,:root .snippet-group .snippet-demos .snippet-demo-padding {
width:auto;
}

.snippet-group .snippet-code {
position:relative;
overflow:hidden;
}

.snippet-group .snippet-code pre {
border-radius:0;
display:block;
overflow:scroll;
margin:0;
padding:0 0 0 25px;
border-bottom: 1px solid #eee;
}

.snippet-group .snippet-code code {
position:inherit;
max-height:none;
width:100%;
box-sizing:border-box;
/*padding:8px 16px;*/
}

.snippet-group .snippet-code pre[class*=language-]>code[data-language] {
max-height:none;
}

.snippet-group .snippet-code code:first-of-type {
padding-top:16px;
}

.snippet-group .snippet-code code:last-of-type {
padding-bottom:16px;
}

.snippet-group .snippet-code code:hover {
background-color:rgba(0,0,0,.05);
}

.snippet-group .snippet-code code:hover:only-of-type {
background-color:transparent;
}

.snippet-group .snippet-code code:hover::before {
display:inline-block;
content:'click to copy';
color:#333;
font-size:12px;
background-color:#ddd;
/*border-top-left-radius:5px;*/
position:absolute;
padding:3px 10px;
right: 0;
}

.snippet-group .snippet-code code:active::before {
content:'';
}

.snippet-group .snippet-code code.copied::before {
content:'copied!';
color:#f9f9f9;
background-color:#555;
}

.snippet-group .snippet-code code.nosupport::before {
content:"browser not supported :'(";
color:rgba(255,255,255,.5);
background-color:rgba(0,0,0,.6);
}

.snippet-group.is-full-width .snippet-demo-container {
width:100%;
}

.snippet-group.is-full-width .snippet-demos>.snippet-demo {
width:100%;
padding-left:0;
padding-right:0;
}

.snippet-group.is-full-width .snippet-demo-padding {
width:0;
margin:0;
padding:8px;
}